body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.hero {
  background: linear-gradient(to right, #2563eb, #1e40af);
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: white;
  color: #1e40af;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 60px 20px;
  flex-wrap: wrap;
}

.card {
  background: #b2b8c4;
  color: #000;
  padding: 25px;
  width: 260px;
  border-radius: 10px;
  text-align: center;
}

.why {
  padding: 40px 20px;
  text-align: center;
}

.why ul {
  list-style: none;
  padding: 0;
}

.footer {
  background: #111827;
  color: white;
  text-align: center;
  padding: 20px;
}
.hero h1 {
  font-size: 48px;
}

.hero p {
  font-size: 18px;
  margin-top: 10px;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
